<script type="text/javascript">
  {{ if .Site.IsMultiLingual }}
      var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
  {{ else }}
      var baseurl = "{{.Site.BaseURL}}";
  {{ end }}
</script>

{{ $js1 := resources.Get "js/pv.js" | minify }}

{{ $js3 := resources.Get "lib/jquery.min.js" }}
{{ $js4 := resources.Get "lib/popper.min.js" }}
{{ $js5 := resources.Get "js/bootstrap.min.js" }}

{{ $js6 := resources.Get "plugins/lunr.min.js" }}
{{ $js7 := resources.Get "plugins/auto-complete.js" | minify }}
{{ $js8 := resources.Get "plugins/search.js" | minify }}
{{ $js9 := resources.Get "plugins/clipboard.js" | minify }}

{{ $js11 := resources.Get "js/header-links.js" | minify }}
{{ $js12 := resources.Get "js/playground.js" | minify }}

{{ $js := slice $js1 $js3 $js4 $js5 $js6 $js7 $js8 $js9 $js11 $js12 | resources.Concat "js/bundle.js" }}
{{ $JS := $js | resources.Fingerprint "sha512" }}

<script type="text/javascript" src="{{ $JS.RelPermalink }}" integrity="{{ $JS.Data.Integrity }}"></script>
