{{- $sortTerm :=  .Get "sort" | default "Weight" }}

{{- .Scratch.Set "current" .Page }}

{{- if (.Get "page")}}
	{{- with .Site.GetPage "section" (.Get "page") }}
		{{- $.Scratch.Set "current" . }}
	{{- end }}
{{- end }}

{{- $brief := .Get "brief" -}}

{{- $cpage := (.Scratch.Get "current") }}

<br>
{{ if ne .Page.Title $cpage.Title }}
<a class="h1 text-primary" href="/{{ $cpage.File.Dir }}">{{ $cpage.Title }}</a>
{{ if $brief }}<span class="text-dark h4 ml-2">{{ $brief }}</span>{{ end }}
<br>
<br>

{{ end }}

<ul class="pl-3 docs-children list-unstyled">
	{{- .Scratch.Set "pages" $cpage.Pages }}
    {{- if $cpage.Sections}}
	    {{- .Scratch.Set "pages" ($cpage.Pages | union $cpage.Sections) }}
    {{- end}}
    {{- $pages := (.Scratch.Get "pages") }}

	{{- if eq $sortTerm "Weight"}}
		{{- template "childs" dict "menu" $pages.ByWeight "pages" .Site.Pages "sortTerm" $sortTerm}}
	{{end}}
</ul>



{{ define "childs" }}
		{{- range .menu }}
			<li class="h5 py-1">
				<a href="{{.RelPermalink}}"> {{ .Title }} </a>
			</li>
		{{ end }}
{{ end }}
