{{ .Scratch.Set "code" "" }}
{{ .Scratch.Set "content" "" }}
{{ .Scratch.Set "identifier" "" }}

{{ $identifier := "" }}
{{ $title := .Get "title" }}
{{ $lang := .Get "lang" }}
{{ $filepath := .Get "file"}}

{{ if ($filepath) }}
    {{ .Scratch.Set "content" ($filepath | readFile) }}
    {{ .Scratch.Set "identifier" (first 10 (md5 (.Scratch.Get "content"))) }}
{{ else }}
    "missing file input"
{{ end}}
{{ if (.Get "play") }}
  {{ $codepath := replace $filepath ".html" ".cue" }}
  {{ .Scratch.Set "code" ($codepath | readFile) }}
{{ end}}

<div class="position-relative mb-3" style="overflow-x: auto; overflow-y: hidden">
    {{ if $title }}
    <p class="pl-2 py-1 m-0 border bg-light code-title">{{ $title }}</p>
    {{ end }}
    <div class="border" id="{{printf "clipboard_%s" (.Scratch.Get "identifier") }}">
      <div class="position-absolute pt-1 pr-1" style="right:0;">
        {{ if (.Get "play") }}
          <button class="btn btn-light" onclick="playground({{printf "playground_%s" (.Scratch.Get "identifier") }})">
          <i class="fas fa-play"></i>
          </button>
        {{ end}}
          <button class="btn btn-light" data-clipboard-target="#{{printf "clipboard_%s" (.Scratch.Get "identifier") }}">
            <i class="far fa-copy"></i>
          </button>
      </div>
      {{ if $lang }}
        {{ (print "```" $lang "\n" (.Scratch.Get "content") "```") | markdownify }}
      {{ else }}
        <div class="highlight">
          {{ .Scratch.Get "content" | safeHTML }}
        </div>
      {{ end }}
{{ if (.Get "play") }}
<textarea class="invisible position-absolute" style="height:0" id="{{printf "playground_%s" (.Scratch.Get "identifier") }}">
{{ .Scratch.Get "code" | htmlUnescape }}
</textarea>
{{ end}}
    </div>
</div>



